.intro{
  font-weight: lighter;
  font-kerning: none;
  font-size: 20px;
  font-stretch: extra-condensed;
  font-style: italic;
  }
img{
  float: right;
}
.heavy{
  font-size: 30px;
  font-family: monospace;
}
